node_modules
.DS_Store
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
npm-debug.log
_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.brackets.json
app/public/assets
/app/public/css/
/app/public/js/
/app/views/
